.navbar{
    background-color: rgb(218, 199, 121);
  }

  .navbar-custom{
    margin: 5vh 15vh 0vh 15vh ;
    background-color: rgb(218, 199, 121);
    backdrop-filter: blur(15px);
    border: 2px solid #198754;
    border-radius: 20px;
}
.transition{
    transition: 2s;
}

.backgroundnav{
    transition: .1s;
    
}

.backgroundnav:hover{
    transform: scale(1.1);
    color: rgb(249, 249, 249) !important;
    background-color: rgb(125, 187, 144);
}

